body {
  background-color: black;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  font-weight: 300;
}
h1 {
  color: grey;
}

.mainContainer {
  margin-top: 1rem;
  background-color: white;
  height: fit-content;
  width: fit-content;
  padding: 1rem;
  border-radius: 10%;
}

#principal,
#years,
#rate {
  margin: 1rem;
}

.rate {
  justify-self: baseline;
}

.output {
  padding: 1rem;
}
